.leftSide {
    background-image: url(bookshelf.png);
    background-size: 50%;
    display: grid;
    min-height: 50%;
    flex-basis: 80%;
    overflow: scroll;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 30%);
    row-gap: 20%;
    column-gap: 3%;
    padding-top:7%;
    padding-left: 5%;
    padding-right: 5%;
}

.form {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 244, 245);
    padding: 20px;

}

body {
    display: flex;
    height: 99vh;
}

p {
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 40px;
}
form {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 40px;
    background-color: #adcf8f;
    box-shadow: 0px 9px 9px -4px rgb(161, 160, 160);
    height: 70vh;
    justify-content: start;
}
.formCols {
        display: grid;
        grid-template-rows: repeat(3, 1fr) 2fr;
        justify-content: space-between;
        height: 60%;
        align-items: start;
        
    }
.rightFormCol {
    margin-left: 60px;
}
.input {
    display: grid;
    align-items: center;
    gap: 2%;

}
#submitButton {
    width: 100%;
    font-size: large;
    font-family: sans-serif;
    color: white;
    padding: 10px;
    margin-top: 30%;
    background-color: #384944;
}

:root {
    margin-left: 40px;
    margin-right: 40px;
}

footer {
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
    color: white;
}
a {
    color: white;
}

input:focus {
    outline: 0;
    border-color:rgb(151, 151, 239);
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    box-shadow: 2px 2px 2px rgb(151, 151, 239);
}
input:hover {
    border-style: solid;
    border-width: 2px;
    border-radius: 10%;
    box-shadow: 2px 2px 2px rgb(215, 215, 243);
}

.bookCover {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    align-items: start;
    justify-content: space-around;
    padding-left: 20px;
    background-color: #9b5016; 
    border: solid black 1px;
    border-left: solid rgb(71, 46, 15) 8px;

    /* background-image: url(bok.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position-x: -10px;
    background-position-y: 0; */

}

.removeButton, .readStatus{
    display: flex;
    background-color: #e7b996;
    border-radius: 20%;
    font-size: 16px;
}


h2 {
    display: flex;
    justify-content: center;
}

.isReadDiv {
    display: flex;
}